@import "../../assets/styles/variables";

.step {
  display: inline-block;
  vertical-align: middle;

  + .step {
    &:before {
      content: '';
      display: inline-block;
      position: relative;
      top: -2px;
      width: 2em;
      height: 1px;
      vertical-align: inherit;
      background: #000;
      margin: 0 0.5em;
    }
  }

  &--active .step__index {
    background: $orange;
  }
  
  &__index {
    display: inline-block;
    vertical-align: middle;
    background: #999;
    color: #fff;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    text-align: center;
    line-height: 2em;
  }

  &__label {
    padding-left: 0.5em;
  }

  @media screen and (max-width: $screen-sm-min - 1) {
    display: block;

    +.step {
      padding-top: 1em;
    }
    
    &:before, +.step:before {
      display: none;
    }
  }
}

.stepper {
  padding: 2em 0;
  text-align: center;

  @media screen and (max-width: $screen-sm-min - 1) {
    text-align: left;
    padding-left: 2em;
  }
}