@import "../../assets/styles/variables";

$grid-columns: 12;
$border-spacing: 5px;

@mixin columns($from, $to) {
  @for $i from $from through $to {
    &#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

.flex-container {   
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--centred {
    align-items: center;
  }
}

.col {
  @include columns(1, $grid-columns);
}

.colSM {
  @media screen and (max-width: $screen-md-min - 1) {
    @include columns(1, $grid-columns);
  }
}
  
.colXS {
  @media screen and (max-width: $screen-sm-min - 1) {
    @include columns(1, $grid-columns);
  }
}

.colLG {
  @media screen and (min-width: $screen-md-min) {
    @include columns(1, $grid-columns);
  }
}